TestJAXWS/WebContent/wsdl/InventoryInquiry.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.somecompany.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.somecompany.com/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.somecompany.com/">
    <s:import namespace="http://www.w3.org/2001/XMLSchema" schemaLocation="http://www.w3.org/2001/XMLSchema.xsd"/>
      <s:element name="getInventoryStatus">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="DealerCode" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="SupplierCode" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="PartNumber" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="Quantity" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="0" name="DeliveryLocation" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInventoryStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="getInventoryStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema"/>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getInventoryStatusSoapIn">
    <wsdl:part element="tns:getInventoryStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getInventoryStatusSoapOut">
    <wsdl:part element="tns:getInventoryStatusResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="InventoryInquirySoap">
    <wsdl:operation name="getInventoryStatus">
      <wsdl:input message="tns:getInventoryStatusSoapIn"/>
      <wsdl:output message="tns:getInventoryStatusSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryInquirySoap" type="tns:InventoryInquirySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getInventoryStatus">
      <soap:operation soapAction="http://www.somecompany.com/getInventoryStatus" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryInquiry">
    <wsdl:port binding="tns:InventoryInquirySoap" name="InventoryInquirySoap">
      <soap:address location="http://www.somecompany.com/InventoryInquiry.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
